<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="bottom-nav">
        <a class="btm-a" href="/admin">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-plus-circle-fill"></i>
            </p>
            <p>ADD</p>
          </div>
        </a>
        <a class="btm-a" href="/students">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-mortarboard-fill"></i>
            </p>
            <p>CLASS</p>
          </div>
        </a>
        <a class="btm-a" href="/users">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-people-fill"></i>
            </p>
            <p>USERS</p>
          </div>
        </a>
        <a class="btm-a" href="/payments">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-currency-rupee"></i>
            </p>
            <p>PAID</p>
          </div>
        </a>
      </div>
</body>
</html>