<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css">
</head>

<body>
    <footer>
        <div class="footer-flex">
            <div class="footer-content">
                <a href="/contact">CONTACT</a>
                <a href="/privacy-policy">TEACH NOW</a>
                <a href="/privacy-policy">PRIVACY POLICY</a>
            </div>
            <div class="insta-icons">
                <a href=""><i class="bi bi-instagram text-danger"></i></a>
                <a href=""><i class="bi bi-linkedin text-primary"></i></a>
                <a href=""><i class="bi bi-whatsapp text-success"></i></a>
                <a href=""><i class="bi bi-facebook text-primary"></i></a>
            </div>
        </div>

    </footer>
</body>

</html>