<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>
    <link rel="stylesheet" href="./course.css">
</head>

<body>
    <%- include ('./navbar.ejs')%>
    <div class="course-container">
           <div class="course-card">
                        <img class="course-img" src="https://source.unsplash.com/1600x800/?apple" class="img-fluid" alt="">
                        <div class="course-content">
                            <h5 class="m-0 p-0 text-uppercase">3 Days master class on web development</h5>
                            <div class="mt-2 d-flex justify-content-between">
                                <h4 class="fw-lighter mr-0"><span class="text-decoration-line-through">199</span>    [Free]</h4>
                                <a href="/web-dev"><button class="course-btn fw-bloder">JOIN NOW</button></a>
                        
                            </div>
                        </div>
           </div>
            <div class="course-card">
                        <img class="course-img" src="https://source.unsplash.com/1600x800/?apple" class="img-fluid" alt="">
                        <div class="course-content">
                            <h5 class="m-0 p-0 text-uppercase">3 Days master class on Artificial intelligence & ML</h5>
                            <div class="mt-2 d-flex justify-content-between">
                                <h4 class="fw-lighter mr-0"><span class="text-decoration-line-through">199</span>    [Free]</h4>
                                <a href="/ai-ml"><button class="course-btn fw-bloder">JOIN NOW</button></a>
                        
                            </div>
                        </div>
           </div>
            <div class="course-card">
                        <img class="course-img" src="https://source.unsplash.com/1600x800/?apple" class="img-fluid" alt="">
                        <div class="course-content">
                            <h5 class="m-0 p-0 text-uppercase">3 Days master class on Amazon web services</h5>
                            <div class="mt-2 d-flex justify-content-between">
                                <h4 class="fw-lighter mr-0"><span class="text-decoration-line-through">199</span>    [Free]</h4>
                                <a href="/aws"><button class="course-btn fw-bloder">JOIN NOW</button></a>
                        
                            </div>
                        </div>
           </div>
           
    </div>

</body>

</html>