<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="free-nav">
        <div class="">
            <h4 class="fw-bolder p-0 m-0">Enroll For Free</h4>
            <p class="p-0 m-0">Limited seats are available</p>
        </div>
        <button class="mb-enroll-btn">Enroll Now</button>
    </div>
</body>
</html>