<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</head>

<body class="home-body">
    <%- include ('navbar.ejs')%>

        <div class="home-con">
            <img class="punch-img" src="./images/Web developers discussing ne project - 1600x1200.png" alt="">
            <h1 class="punch-head">JOIN STNUP TODAY</h1>
            <h4 class="punch-start">Start your coding journey with stnup</h4>
            <div class="punch-para">
                <p>Unlock Your Potential in Web Development Join Us & Start Building Today!, Where 75 Million Students
                    Shape Tomorrow's Digital Landscape</p>
            </div>

            <button type="btn" class="punch-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">JOIN FREE MASTER CLASS NOW</button>
        </div>
        <div class="bootcamp">
            <h1 class="months mt-5">STUDENTS LOVE TOWARDS</h1>
            <h1 class="camp">STANDUP</h1>
            <div class="lang">
                <div class="box-2">
                    <div class="profile">
                        <img src="./images/durga.jpeg" alt="">
                        <div class="names">
                            <h5>Durga prasad</h5>
                            <p>Student</p>
                        </div>
                    </div>
                    <p class="feed-back">STANDUP is one of the best platform to learn web development,here we can learn huge content within a less amount of time and the mentor is also good he is clearing the doubts very well. Finally we will definitely upgrade ourselves by join the STANDUP.</p>
                </div>
                <div class="box-2">
                    <div class="profile">
                        <img src="./images/aishwarya.jpeg" alt="">
                        <div class="names">
                            <h5>Aishwarya priya</h5>
                            <p>Student</p>
                        </div>
                    </div>
                    <p class="feed-back">STANDUP helped me a lot in learning web development. All the concepts were clearly explained and covered.The mentor support is also good and cleared all the doubts at any time.It helped me a lot in learning and creating web application from the scratch. Finally,I improved myself.Thank you so much STANDUP😊</p>
                </div>
                <div class="box-2">
                    <div class="profile">
                        <img src="./images/uday.jpeg" alt="">
                        <div class="names">
                            <h5>Uday kiran</h5>
                            <p>Student</p>
                        </div>
                    </div>
                    <p class="feed-back">STANDUP is at the forefront of a student career upgradation. With fullstack technology as bootcamps, trainings they aim to reshape the life of students. This STANDUPis finding problems faced by students and innovating a new and simple way to climb up their goals.As they navigate the challenges and opportunities in STANDUP and solving and grabbing the challenges and opportunities to full fill their dreams♥️.</p>
                </div>
            </div>
        </div>

        <div class="lang">
            <div class="box-2">
                <div class="profile">
                    <img src="./images/nikhil kumar.jpeg" alt="">
                    <div class="names">
                        <h5>CM Nikhil kumar</h5>
                        <p>Student</p>
                    </div>
                </div>
                <p class="feed-back">Good Environment 😎 , Mr.PRASANTH REDDY sir is a very knowledgeable person.Quality of coaching is incredible, way of explaing each and every topic scratch to ending is Excellent as per the students understanding he explained in a easy way to get more knowledge explain with more on practical knowledge and hands on projects with hackathons. The environment between teacher & student is very friendly,with 24x7 mentor support.</p>
            </div>
            <div class="box-2">
                <div class="profile">
                    <img src="./images/sushma.jpeg" alt="">
                    <div class="names">
                        <h5>Sushma sree</h5>
                        <p>Student</p>
                    </div>
                </div>
                <p class="feed-back">My experience at was really good. They had well-structured programs that helped me increase my knowledge through sessions and assignments.we were in a continuous phase of preparation. mentor also helped us prepare for interviews. Start from no knowledge about web development to creating a own frontend project this is how it goes. Even solving doubt for each and every single person.</p>
            </div>
            <div class="box-2">
                <div class="profile">
                    <img src="./images/divya.jpeg" alt="">
                    <div class="names">
                        <h5>Divya sree</h5>
                        <p>Student</p>
                    </div>
                </div>
                <p class="feed-back">STANDUP is one of the best platform where students can learn best coding languages within less time.. mentor Prasanth sir very kind and best teacher to clear all our doubts and teach us very patiently..thank you sir</p>
            </div>
        </div>
    </div>

    <div class="lang">
        <div class="box-2">
            <div class="profile">
                <img src="./images/rohith.jpeg" alt="">
                <div class="names">
                    <h5>Rohith mera</h5>
                    <p>Student</p>
                </div>
            </div>
            <p class="feed-back">I was incredibly grateful for the opportunity to have taken this course on HTML, CSS, and Bootstrap. It has equipped me with the necessary skills and knowledge to create well-designed and responsive websites. Your expertise as an instructor and the quality of the course exceeded my expectations, and I am confident that the skills I have acquired will prove me as a web developer in future. Thank you for providing such a valuable and enriching learning experience.</p>
        </div>
        <div class="box-2">
            <div class="profile">
                <img src="./images/poojitha.jpeg" alt="">
                <div class="names">
                    <h5>Poojitha</h5>
                    <p>Student</p>
                </div>
            </div>
            <p class="feed-back">STANDUP..is a good platform to learn web development .Here,the mentor will explain things to you clearly and in an easy way that you can understand.Besides,he clears every doubt for you in a good way.It is best platform for beginners to develop web pages and more. with good mentorship</p>
        </div>
        <div class="box-2">
            <div class="profile">
                <img src="./images/bhavana.jpeg" alt="">
                <div class="names">
                    <h5>Bhavana</h5>
                    <p>Student</p>
                </div>
            </div>
            <p class="feed-back">The STANDUP has been an exceptional journey that exceeded my expectations. The STANDUP has well structured curriculum, dedicated instructors, and hands-on approach have truly transformed my skills and understanding of front end development . The btc emphasis on industry relevant technologies and collaborative learning environment provided me with the confidence and expertise to tackle real world projects.</p>
        </div>
    </div>
</div>
        <div class="bootcamp">
            <h1 class="months mt-5">JOIN OUR 4 MONTHS FULL STACK</h1>
            <h1 class="camp">ONLINE BOOTCAMP</h1>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-filetype-html"></i>
                    <h4>HTML</h4>
                    <p>Start your web dev journey with HTML and build your app structure along with your life</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-filetype-css"></i>
                    <h4>CSS</h4>
                    <p>Now add the CSS colours to your app and make your web dev journey beautiful</p>

                </div>
                <div class="box-1">
                    <i class="bi bi-bootstrap"></i>
                    <h4>BOOTSTRAP</h4>
                    <p>Use the CSS frame work Bootstrap and reduce the work load of adding CSS</p>
                </div>
            </div>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-filetype-js"></i>
                    <h4>JAVA SCRIPT</h4>
                    <p>Let's start the JAVA SCRIPT programming language to add the functionality to your app</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-flower1"></i>
                    <h4>REACT JS</h4>
                    <p>Learn how to use React , and make your app dynamic and much faster</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-code-slash"></i>
                    <h4>NODE & EXPRESS</h4>
                    <p>After completing front end now start back end with NODE & EXPRESS to store data in cloud</p>
                </div>
            </div>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-cloud"></i>
                    <h4>MONGO DB & FIRE BASE</h4>
                    <p>Store your data inside MONGO DB & FIRE BASE to secure the data and to maintain good data flow</p>

                </div>
                <div class="box-1">
                    <i class="bi bi-github"></i>
                    <h4>GIT & GIT HUB</h4>
                    <p>Version controll system is here to store your code in GIT HUB using GIT software</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-mortarboard"></i>
                    <h4>RESUME BUILDING</h4>
                    <p>Prepare for interview and start building of your Resume , apply for the job and get success</p>
                </div>
            </div>


        </div>

        <div class="bootcamp">
            <h1 class="months mt-5">JOIN OUR 5 MONTHS AI</h1>
            <h1 class="camp">ONLINE BOOTCAMP</h1>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-calculator"></i>
                    <h4>MATHEMATICS</h4>
                    <p>Learn Linear Algebra, Calculus, Mathematical Analysis to understand the AI calculations</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-bar-chart-line"></i>
                    <h4>STATISTICS</h4>
                    <p>Understand the concepts of probability and statistics,ratio metrics along with hypothesis testing
                        and also AB testing</p>

                </div>
                <div class="box-1">
                    <i class="bi bi-building-gear"></i>
                    <h4>ECONOMETRICS</h4>
                    <p>Start learning of regressions,time series,fitting distribution and also Econometrics
                        Pre-requisites</p>
                </div>
            </div>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-filetype-py"></i>
                    <h4>PYTHON PROGRAMMING</h4>
                    <p>Build your programming skills with pandas,numpy like python AI supporting libraries</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-graph-up-arrow"></i>
                    <h4>EXPLORATORY DATA ANALYSIS</h4>
                    <p>By using EDA take the data and analyse it and visualise in charts</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-robot"></i>
                    <h4>MACHINE LEARNING</h4>
                    <p>Feed the machine with data sets by using supervised and un supervised learning techniques</p>
                </div>
            </div>
            <div class="lang">
                <div class="box-1">
                    <i class="bi bi-clipboard-pulse"></i>
                    <h4>DEEP LEARNING</h4>
                    <p>Dive deep inside DEEP LEARNING algoritms like NN , CNN , RNN and LSTM</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-infinity"></i>
                    <h4>MLOPS</h4>
                    <p>MLOPS is all about deplyment models and CI/CD</p>
                </div>
                <div class="box-1">
                    <i class="bi bi-mortarboard"></i>
                    <h4>RESUME BUILDING</h4>
                    <p>Prepare for interview and start building of your Resume , apply for the job and get success</p>
                </div>
            </div>
        </div>
        <!-- -----------moadal------------ -->
        <div class="modal fade modal-bg " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content modal-con-bg modal-curve">
                <h1 class="modal-title fs-3 fw-bolder text-white mt-2" id="exampleModalLabel">Select your master class</h1>
                <div class="modal-body">
                  <a href="/web-dev"><button class="btn modal-btn">FULL STACK WEB DEVELOPMENT</button></a>
                  <a href="/ai-ml"><button class="btn modal-btn">ARTIFICIAL INTELLIGENCE</button></a>
                  <a href="/aws"><button class="btn modal-btn">AMAZON WEB SERVICES</button></a>
                </div>
              </div>
            </div>
          </div>
    <%- include ('footer.ejs')%>
       
</body>

</html>