@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap");
.body {
  background-color: black;
}
.home-con {
  width: 100%;
  height: 100vh;
  background-image: url("images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 170px;
  padding-left: 30px;
}
.punch-head {
  color: rgb(5, 244, 5);
  font-family: "Anta", sans-serif;
  font-weight: bolder;
}
.punch-para {
  width: 500px;
  margin-top: 20px;
  font-family: "Anta", sans-serif;
}
.punch-img {
  display: none;
}

.punch-btn {
  border: 2px solid blue;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  font-weight: bolder;
}
.punch-btn:hover {
  background-color: black;
}
.bootcamp {
  background-color: black;
  text-align: center;
}
.months {
  font-size: 50px;
  font-family: "Anta", sans-serif;
}
.camp {
  color: rgb(75, 75, 251);
  font-weight: bolder;
}
.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 70px;
}
.box-1 {
  width: 360px;
  height: 180px;
  background-color: rgb(20, 19, 19);
  padding: 10px;
  border-radius: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-bottom: 2px solid grey;
  border-right: 10px solid grey;
  border-image: linear-gradient(to right, rgb(0, 255, 26) 55%, transparent 75%)1 50%;
  border-image-slice: 10;
}
.box-2 {
    text-align: left;
    width: 360px;
    height: 260px;
    background-color: rgb(20, 19, 19);
    padding: 15px;
    border-radius: 5px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid grey;
    border-right: 10px solid grey;
    border-image: linear-gradient(to right, rgb(0, 255, 26) 55%, transparent 75%)1 50%;
    border-image-slice: 10;
  }
.box-1 > i {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(26, 86, 249);
}
.box-1>p{
    color: rgb(178, 178, 178);
}

.profile{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.profile>img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.feed-back{
    height: 165px;
    overflow-y:auto;
    box-sizing: border-box;
    color: rgb(178, 178, 178);

}
.feed-back::-webkit-scrollbar{
   display: none;
}
.names{
    margin-left: 10px;
    padding: 0;
    
}
.names>h5{
    margin: 0;
    padding: 0;
}
.names>p{
    margin: 0;
    padding: 0;
}
.modal-bg{
  background-color: rgba(21, 20, 20,0.5) ;
  backdrop-filter: blur(3px);
  text-align: center !important;
  justify-content: center !important;
}
.modal-con-bg{
  background-color: rgba(30, 28, 28, 0.5) !important ;
  backdrop-filter: blur(3px)!important;
  border: 0.5px solid grey !important;
  padding: 10px;
  text-align: center !important;
  justify-content: center !important;
}
.modal-btn{
  background-color: rgb(157, 255, 0) !important;
  color: black!important;
  width: 100%;
  margin: 15px 0px;
  border:2px solid rgb(157, 255, 0) !important;
  font-weight: bolder!important;
}
.modal-btn:hover{
  background-color: rgb(0, 0, 0) !important;
  border:2px solid rgb(49, 12, 255)!important;
  color: white!important;
}
@media (max-width: 576px) {
  .home-con {
    width: 100%;
    height: auto;
    background-image: none;
    text-align: center;
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
  }
  .punch-head{
    font-weight: bolder;
    font-size: 40px;
  }
  .punch-img {
    display: block;
    width: 400px;
    height: 300px;
    object-fit: contain;
    margin: 0px auto;
  }
  .punch-para {
    width: auto;
    margin-top: 10px;
    padding: 0px 10px;
    font-family: "Anta", sans-serif;
  }
  .lang {
    padding: 5px 5px;
  }
  .box-1 {
    width: 100%;
    margin-top: 20px;
    border: 1px solid grey;
  }
  .box-2 {
    width: 100%;
    margin-top: 20px;
    border: 1px solid grey;
  }
  .months {
    font-size: 30px;
    font-weight: bolder;
  }
 


}
